.fr-effect {
  position: relative;
  overflow: hidden;
}

.fr-effect.__light .fr-effect-ripple{
  background: rgba(255,255,255, 0.3);
}

.fr-effect.__red .fr-effect-ripple{
  background: rgba(245, 34, 45, 0.3);
}

.fr-effect.__orange .fr-effect-ripple{
  background: rgba(250, 140, 22, 0.3);
}

.fr-effect.__yellow .fr-effect-ripple{
  background: rgba(250, 219, 20, 0.3);
}

.fr-effect.__green .fr-effect-ripple{
  background: rgba(82, 196, 26, 0.3);
}

.fr-effect.__cyan .fr-effect-ripple{
  background: rgba(19, 194, 194, 0.3);
}

.fr-effect.__blue .fr-effect-ripple{
  background: rgba(24, 144, 255, 0.3);
}

.fr-effect.__purple .fr-effect-ripple{
  background: rgba(114, 46, 209, 0.3);
}

.fr-effect-ripple {
  position: absolute;
  border-radius: 50%;
  width: 0;
  height: 0;
  opacity: 1;
  background: rgba(0,0,0,0.14);
  transition: 0.6s ease-out;
  transition-property: transform, opacity;
  transform: scale3d(0, 0, 1);
  pointer-events: none;
}